.example-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .example-list > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
  }

  .example-list > li:last-child {
    border-bottom: none;
  }



  .panel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .margin-top {
    margin-top: 200px;
  }

  .test-overlay {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-bottom: 40px;
    .backdrop-part {
        position:absolute;
        z-index: 1000;
        inset: 0;
        background-color:#8b8b8b;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .test-pos {
        position: absolute;
        overflow: auto;
        top: 20px;
        left: 50px;
        width: 50px;
        height: 50px;
        border: 1px solid blue;
    }
  }

  .margin-top-40 {
    margin-top: 40px;
  }
