<!-- This button triggers the overlay and is it's origin -->


<h2>My page</h2>
<ui-lit-demo></ui-lit-demo>

<button (click)="this.clickme()">click me</button>

<button type="button" routerLink="/profile">profile</button>
<button type="button" routerLink="" id="btn11">Home</button>
<router-outlet></router-outlet>

<zizifn-child></zizifn-child>
<span (click)="isOpen = !isOpen" type="button"
 cdkOverlayOrigin #trigger="cdkOverlayOrigin" hidden>
</span>
<br>

  <!-- This template displays the overlay content and is connected to the button -->
  <!-- (backdropClick)="backdropclick()"
  (overlayKeydown)="overlayKeydown($event)" -->
  <!-- <ng-template
  cdkConnectedOverlay
    [cdkConnectedOverlayDisableClose]="true"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayPanelClass]="'cdkConnectedOverlayPanelClass'"
  >
  <div class="">
    <ul class="example-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
  </div>

</ng-template>

<button (click)="isOpen = !isOpen">click me</button> -->


<button (click)="isOpen = !isOpen" type="button"
 cdkOverlayOrigin #trigger1="cdkOverlayOrigin" >
 overlay
</button>
<br>

  <!-- This template displays the overlay content and is connected to the button -->
  <!-- (backdropClick)="backdropclick()"
  (overlayKeydown)="overlayKeydown($event)" -->
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger1"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    (overlayKeydown)="overlayKeydown($event)"
    (backdropClick)="backdropclick()"
  >
    <ul class="example-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>

</ng-template>

<button class="margin-top">test1111</button>

<div>


<div class="test-overlay">
    <div class="backdrop-part">test</div>

    <div class="test-pos">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi, ab voluptatem mollitia cum velit nam odio dignissimos vitae dicta nihil!</div>

</div>


<div class="margin-top-40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam numquam illo itaque quam ipsa commodi optio soluta similique iure unde laboriosam non quod, ea, inventore sequi ducimus ratione vel odit sunt autem excepturi provident quaerat libero neque. Reiciendis, accusamus fugiat.</div>

</div>