<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/static/test.js"></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
   <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" alt="" srcset="">
  </body>
</html>
